*{
    margin: 20px;
    padding: 0;
    color: rgb(31, 30, 29);
}
#titulo{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(10, 10, 10);
    margin-left: 13% ;
    text-align: center;
    
}
#subtitulo{
    color: rgb(12, 12, 12);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 43%;
}
body{
    background: linear-gradient( rgb(132, 143, 139), rgba(206, 208, 205, 0.897));
    font-family: Arial, Helvetica, sans-serif;
    font-size:25px;
    margin-left: 2%;
    margin-top: 3%;
}
input,select,textarea,button{
    border-radius: 8px;
}
.corpo{
    margin-bottom: 1.5em;
}
.corpo label{
    margin-bottom: 3em;
    color: rgb(15, 15, 15);
    display: block;
}
fieldset.grupo .campo{
    float: left;
}
.compo input[type="text"], .campo input[type="email"], .campo section, .campo textarea{
    padding: 0.5em;
    border: 2px solid #0a0a0a; 
    box-shadow: 3px 3px 3px rgb(237, 234, 245);
    display: block;
}
.campo section option{
    padding-right: 2em;
}
.campo input:focus,.campo section:focus,.campo textarea:focus{
    background: #ffffff;
}
.botao {
    font-size: 1.5em;
    border: 5;
    border-color:  aliceblue;
    margin-bottom: 1em;
    padding: 0.1em 0.3em;
    box-shadow: 3px 3px 3px;
    top: 100%;
    left: 30%;
}